body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
nav {
  padding: 20px;
  background: #4D77FF;
}
nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li:nth-child(2){
  margin-left: auto;
}
nav ul li a{
  color : white;
  margin-right: 20px;
  text-decoration: none;
}

form{
  width: 250px;
  margin: 0 auto;
  display: grid;
  gap:20px;
  text-align: center;
}

form input[type="text"]{
  padding: 8px 12px;
}

input[type="submit"]{
  padding: 8px 20px;
  border:2px solid black;
  border-radius: 5px;
  background: none;
}

.articles{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap : 20px;
}